<div class="scrollable">
  <div class="editingCanvas scrollable-content">
    <div class="editText">
      <span class="editLabel">ID: </span><span>{{orgFeat.attributes.district_id}}</span>
    </div>
    <div class="editText">
      <span class="editLabel">Completed: </span><input type="checkbox" ng-model="editFeature.attributes.completed">
    </div>
    <div class="editText">
      <div class="editLabel">Comment: </div>
      <textarea rows="3" name="comments" style="width: 95%" ng-model="editFeature.attributes.inventory_comment"></textarea>
    </div>
    <div class="editText">
      <span class="editLabel">Worker: </span>
      <select name="workers" ng-model="inventoryConfig.worker" ng-options="worker.id for worker in workers">
      </select>
    </div>
    <div class="editText bordered">
      <input type="button" value="Apply" ng-click="applyEdits()">
    </div>
  </div>

  <div class="nonEditingCanvas scrollable-content">
    <!--<h1 class="landingText">Edit the stuff here</h1>--></h1>
    <div class="editText">
      <div class="editLabel">Location: </div><div class="editEntry">{{orgFeat.attributes.location}}</div>
    </div>
    <div class="editText">
      <div class="editLabel">Existing protection: </div><div class="editEntry">{{orgFeat.attributes.existing_ped_protection}}</div>
    </div>
    <div class="editText">
      <div class="editLabel">Comments_Landuse: </div><div class="editEntry">{{orgFeat.attributes.comments_landuse}}</div>
    </div>
    <div class="editText">
      <div class="editLabel">Recommendation: </div><div class="editEntry">{{orgFeat.attributes.recommendation}}</div>
    </div>
  </div>
</div>

