<div class="scrollable">
  <div class="scrollable-content">
    <div ng-show="pageConfigProperties.selectedUnitId !== null" class="editCanvas mapSidebar">
      <div class="editText">
        <div class="editLabel">ID:</div>
        <span class="editContent">{{selectedMemorial.attributes.district_id}}</span>
      </div>
      <div class="editText">
        <div class="editLabel">Location:</div>
        <span class="editContent">{{selectedMemorial.attributes.location}}</span>
      </div>
      <button class="pmmButton" ng-click="startEdit()">Details</button>
      <button class="pmmButton" ng-click="clearSelection()">Clear</button>
    </div>
    <div id="homeButton">
      <a ng-click="zoomFullExtent()" class="mapNavButtonContainer"><i class="fa fa-globe mapNavButton"></i></a>
    </div>
    <pbac-inventory-locator-map id="map"></pbac-inventory-locator-map>
  </div>
</div>

