<div>
  <div class="landingCanvas" ng-click="handleStart()">
<!--    <div class="landingLogoImg"></div>-->
    <div class="landingText">
      <h1 class="landingTitle">Welcome to the PBAC Pedestrian and Bike Improvements Inventory Application</h1>
    </div>
    <div class="landingText">
      <h2 class="landingTitle">Select the district</h2>
      <select name="districts" ng-model="inventoryConfig.district" ng-options="district.label for district in districts">
        <option value="">-- Choose District --</option>
      </select> 
    </div>
    <div class="landingText">
      <h2 class="landingTitle">Who are you</h2>
      <select name="workers" ng-model="inventoryConfig.worker" ng-options="worker.id for worker in workers">
        <option value="">-- Choose Worker --</option>
      </select> 
    </div>
    <div class="landingText">
      <button class="pmmButton pmmButtonLrg" ng-hide="cannotStart" ng-click="startInventory()">Start</button>
    </div>
  </div>
</div>
